@import 'colors';
@import 'font';

.captain-menu {
	background-color: $mid-grey;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin : 10px 0 10px 0;
	padding : 15px 0 15px 0;
}

.buttons {
    width: 100%;
	height: 100%;
	display: inline-flex;
    justify-content: space-around;
	align-items: center;
	padding: 0 10px;
	margin: 0px 0 0 0;
	li {
		list-style: none;
		color: white;
		font-family: $arial;
		font-weight: $button-weight;
		font-size: $button-size;
		border-radius: 10px;
		border: 1px solid $text-light;
		transition: .4;
		padding: 6px 10px;
		margin: 0 8px;
		position: relative;
		cursor: pointer;
		white-space: nowrap;

		&:hover {
			background-color: $button-hover-grey;
		}
	}
}

.info {
	display: flex;
	justify-content: center;
	width: 100%;
}

p {
	font-size: $button-size;
	font-family: $arial;
	font-weight: $button-weight;
	color: $text-light;
	margin: 0;
	padding: 0;
}
