<section class="content" *ngIf="team">
    <h2>{{team.name}}</h2>

    <p class="title">Événements de l'équipe :</p>

    <header>
        <p class="header-p">Événement</p>
        <p class="header-p">Statut inscription</p>
        <p class="header-p">Score</p>
    </header>
    
    <ng-container>
        <section class="no-event">
            <p class="info-p">L'équipe n'est inscrite à aucun événement</p>

            <ms-button value="Inscrire l'équipe à un événement" color="lightblue"></ms-button>
        </section>
    </ng-container>

    <!-- TODO : si l'équipe est inscrite à des événements -->

    <p class="title">Membres de l'équipe :</p>

    <header class="member-header">
        <p class="header-p">Nom</p>
        <p class="header-p">Prénom</p>
        <p class="header-p">Date de naissance</p>
        <p class="header-p">Sexe</p>
    </header>

    <ms-display-captain [captain]="team.captain"></ms-display-captain>
    <ng-container *ngFor="let member of team.members; let index = index">
        <ms-display-member [member]="member" (deleteMemberEvent)="deleteMember(index)"></ms-display-member>
    </ng-container>

    <ms-button value="Ajouter un membre" color="orange" (click)="open()"></ms-button>
    

</section>
