.content {
  background-color: #576471;
  padding : 20px;
  display : flex;
  flex-direction: column;
}

h2 {
  color     : white;
  text-align: center;
}

p {
  margin: 0;
}

.title {
  color: #8CBDB8;
}

.header-p {
  color      : #E09E50;
  font-weight: bold;
  width      : 33%;
  text-align : center;
  margin     : 10px 0 10px 0;
}

.infos {
  display        : flex;
  justify-content: space-between;
  margin-right   : 30px;
}

header {
  background-color: #2D3E4E;
  display         : flex;
  flex-direction  : row;
  align-items     : center;
  justify-content : space-around;
  margin-top      : 30px;
}

.member-header {
  padding-right: 15%;
}

.no-event {
  text-align    : center;
  border        : 1px solid #2D3E4E;
  padding-bottom: 15px;
  margin-bottom : 15px;
}

.info-p {
  margin     : 10px;
  color      : white;
  font-weight: bold;
}