@import 'colors';

// .filter-box {
//     background-color: white;
//     width: 30%;
//     margin: 20px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     padding-bottom: 10px;
// }

header {
    background-color: $mid-blue;
}

ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0px;
}

li {
    list-style: none;
    color: $text-light;
    width: 16.6%;
}