<h2 class="admin-title">Capitaines</h2>

<section class="container">
    <p>Nombre total de capitaines : {{captains.length}}</p>
    <header class="captain-header">
        <ul>
            <li>Identifiant</li>
            <li>Nom</li>
            <li>Prénom</li>
            <li>Email</li>
            <li>Téléphone</li>
            <li>Date d'inscription</li>
        </ul>
    </header>
    <ng-container *ngFor="let captain of captains">
        <ms-display-admin-captain [captain]="captain"></ms-display-admin-captain>
    </ng-container>
</section>