//* text
$text-light: #e8eceb;
$text-dark : #000;

//* accentuation
$orange: #E09E50;
$teal  : #8cbdb8;

//* background
$dark-blue : #212529;
$mid-blue  : #2d3e4e;
$light-blue: #576471;
// admin
$grey : #E8ECEB;

//* new colors
$dark-grey : #293045; //navbar
$mid-grey : #31374C; //navbar attenuation color
$element-grey : #20273D; //elements background
$dark-blue : #141B33; //background
$button-hover-grey : #464B5E;

//* other color helpers
$light: #e8eceb;
$dark : #000;