@import 'colors';

.page {
    display: flex;
}

.menu,
.content {
    min-height: 100vh;
}

.menu {
    width           : 15%;
    background-color: $light-blue;
}

.content {
    width           : 85%;
    background-color: $grey;
}