@import 'colors';

.page {
    display: flex;
}

.menu,
.content {
    min-height: 100vh;
}

.menu {
    width: 15%;
    background-color: $light-blue;
    text-align: center;
}

.content {
    width: 85%;
    background-color: $grey;
}

img {
    width: 80%;
    margin: 2% 0 2% 0;
}

.admintext {
    color: $orange;
}