@import 'sizes';
@import 'colors';

//* Global
.side {
    width: 20%;
}

.content {
    width: 60%;
}

//* titles
::ng-deep .section-title {
    margin-bottom: 60px;
    color        : $orange;
    font-weight  : 500;
    text-align   : center;
}


//* Large screens
@media only screen and (min-width: 992px) {
    .site-view {
        min-height: calc(100vh - 40px - $footer-size - $navbar-size);
        margin-top: $navbar-size;
        display   : flex;
    }
}

//* small screens
@media only screen and (max-width: 992px) {
    .site-view {
        display: flex;
    }
}