@import 'sizes';

@media only screen and (min-width: 992px) {
    .container {
        min-height: calc(100vh - $footer-size - $navbar-size);
        margin-top: $navbar-size;
        display: flex;
    }
}

@media only screen and (max-width: 992px) {
    .container {
        display: flex;
    }
}

.side {
    width: 20%;
}

.content {
    // overflow: hidden;
    width: 60%;
}