@import 'colors';

.return {
    background-color: $light-blue;
    color: $text-light;
    margin-bottom: 10px;
}

h5 {
    background-color: $mid-blue;
    color: $text-light;
}

hr {
    margin: 10px auto;
}

.registration-status {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.validate {
    background-color: $teal;
}

.cancel {
    background-color: $orange;
}