<ng-container *ngIf="event">
    <h2 class="admin-title">{{event.name}}</h2>
    <section class="container">
        <button class="return" routerLink="/admin/events">Retour</button>
        <section class="infos">
            <h5>Nom</h5>
            <h5>Description</h5>
            <h5>Déroulé des épreuves</h5>
            <h5>Dates de l'événement</h5>
            <h5>Dates d'inscription</h5>
            <h5>Dates d'inscription</h5>
            <h5>Conditions d'inscription</h5>
            <h5>Images</h5>
            <h5>Activités</h5>
            <h5>Equipes inscrites</h5>
            <ms-teams-details [registrations]="event.registrations"></ms-teams-details>
        </section>
    </section>
</ng-container>