@import 'colors';

.title {
  margin-bottom: 40px;
  color: $text-light;
}

.gallery {
  display  : flex;
  flex-wrap: wrap;

  .thumbnail {
    width : 200px;
    height: 200px;
    margin: 5px;
    cursor: pointer;
  }

  img {
    height    : 100%;
    object-fit: cover;
  }
}