<header>
    <div class="menu">
        <div class="logo"
        (click)="goTo('home', 'top')">
            <img src="/assets/images/logos/logo-sans-fond-sans-bords-bleuciel.svg" alt="logo">
        </div>
        <ul class="menu-bar">
            <li (click)="goTo('home', 'top')">Accueil</li>
            <li (click)="goTo('articles')">Actualités</li>
            <li (click)="goTo('events')">Evenements</li>
            <li (click)="goTo('gallery')">Galerie</li>
            <li (click)="goTo('home', 'contact')">Contact</li>
        </ul>
        <div class="menu-connexion">
            <ng-container>
                <ms-captain-control></ms-captain-control>
            </ng-container>
        </div>
    </div>
    <section class="social">
        <ms-social></ms-social>
    </section>
    
</header>



