<header>
    <div class="menu">
        <div class="logo">
            <img src="/assets/images/logos/logo-sans-fond-sans-bords-bleuciel.svg" alt="">
        </div>
        <ul class="menu-bar">
            <li (click)="goToHome()">Accueil</li>
            <li>Actualités</li>
            <li (click)="goToEvents()">Evenements</li>
            <li>Galerie</li>
            <li (click)="goToContact()">Contact</li>
        </ul>
        <div class="menu-connexion">
            <ng-container>
                <ms-captain-control></ms-captain-control>
            </ng-container>
        </div>
    </div>
    <ms-social></ms-social>
</header>



