<section id="event" *ngIf="event">
    <section id="main_infos" class="total-price" [ngClass]="{
        'before': eventRegistrationStatus === 1,
        'undergoing': eventRegistrationStatus === 2,
        'after': eventRegistrationStatus === 3}">
        <div id="block_title" class="row">
            <div id="main_title" class="col-8">
                <h1>{{ event.name }}</h1>
            </div>
            <div id="nb_teams" class="registration_status_info col-4" *ngIf="eventRegistrationStatus === 2">
                <p>{{ event.registrations?.length }}/{{ event.maxTeams }} équipes inscrites</p>
            </div>
            <div id="registration_over" class="registration_status_info col-4" *ngIf="eventRegistrationStatus === 3">
                <p>Inscriptions terminées</p>
            </div>
        </div>
        <div id="block_registration_infos" class="block">
            <h2>Informations importantes</h2>
            <div id="sub_block_registration_infos">
                <div class="row">
                    <div class="col-4">
                        <h3>Inscriptions</h3>
                        <div class="gp_infos">
                            <p>Du: <span class="highlight_infos">{{ event.startRegistration | date:'dd/MM/y' }}</span>
                            </p>
                            <p>Au: <span class="highlight_infos">{{ event.endRegistration | date:'dd/MM/y' }}</span></p>
                        </div>
                    </div>
                    <div class="col-4">
                        <h3>Événement</h3>
                        <div class="gp_infos">
                            <p>Du: <span class="highlight_infos">{{ event.startEvent | date:'dd/MM/y' }}</span></p>
                            <p>Au: <span class="highlight_infos">{{ event.endEvent | date:'dd/MM/y' }}</span></p>
                        </div>
                    </div>
                    <div class="col-4">
                        <h3>Lieu</h3>
                        <div class="gp_infos">
                            <p><span class="highlight_infos">{{ event.place.name }}</span></p>
                            <p><span class="highlight_infos">{{ event.place.address }}</span></p>
                            <p><span class="highlight_infos">{{ event.place.zipcode }} {{ event.place.city | uppercase
                                    }}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="content">

        <div id="block_activities" class="block tab-content">

            <div id="block_description">
                <h2>Présentation</h2>
                <div class="description">
                    <p>{{ event.description }}</p>
                </div>
            </div>

            <app-event-activities></app-event-activities>

            <div id="block_activities_details" *ngIf="event.activitiesDetails">
                <h2>Déroulé des épreuves</h2>
                <div class="activities_details" [innerHTML]="event.activitiesDetails"></div>
            </div>
            <div id="block_registration_rules">
                <h2>Modalités d'inscription</h2>
                <div class="registration_rules">
                    <p>Coût de l'inscription: {{ event.price }}€</p>
                    <p>Nombre maximal d'équipes: {{ event.maxTeams }}</p>
                    <p>Âge minimum requis: {{ event.minAge }}</p>
                    <p>Nombre minimal d'équipiers: {{ event.minMembers }}</p>
                    <p>Nombre maximal d'équipiers: {{ event.maxMembers }}</p>
                </div>
            </div>
        </div>
    </section>

    <section id="registration">
        <div id="block_registration" class="block">


            <!-- before registration -->
            <h2 *ngIf="eventRegistrationStatus === 1">Inscriptions</h2>   
            <p *ngIf="eventRegistrationStatus === 1">L'inscription sera ouverte dans {{ remainingDays }} jour(s).</p>

            <!-- during registration -->
            <h2 *ngIf="eventRegistrationStatus === 2">Inscriptions ouvertes</h2>

            <ms-button class="btn-custom" value="Inscrire une équipe !" color="lightblue" *ngIf="currentCaptain && eventRegistrationStatus === 2"
                (click)="openRegistrationPanel()"></ms-button>

            <!-- before registration -->
            <h2 *ngIf="eventRegistrationStatus === 3">Inscriptions terminées</h2> 
            <p *ngIf="eventRegistrationStatus === 3 && hasRecordedTeam">Vous avez inscrit une équipe pour cet événement.</p>
            <p *ngIf="eventRegistrationStatus === 3 && ! hasRecordedTeam">Aucune de vos équipes n'est inscrite pour cet événement.</p>

            <!-- not login -->
            <ms-button class="btn-custom" value="Identifiez-vous !" color="lightblue" *ngIf="currentCaptain===null"></ms-button>
            
            <div id="registration_pannel" *ngIf="displayRegistrationPannel">
                <h3>{{ event.name }}</h3>
                <div *ngFor="let teamInformations of availableTeams; let index = index" class="row">
                    <div class="col-4"><p>{{ teamInformations.team.name }}</p></div>
                    <div class="col-6 information"><p>{{ teamInformations.information }}</p></div>  
                    <div class="col-2 center">
                        <ms-button value="Inscrire" color="orange" (click)="registerTeam(index)" *ngIf="! teamInformations.registered && teamInformations.suitable && ! hasRecordedTeam"></ms-button>
                        <ms-button value="Désinscrire" color="orange" (click)="unregisterTeam(index)"  *ngIf="teamInformations.registered"></ms-button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>