<section id="main_infos">
    <div id="block_title" class="row">
        <div id="main_title" class="col-8"><h1>Challenge multisport - Bergues</h1></div>        
        <div id="nb_teams" class="col-4"><p>14/32 équipes inscrites</p></div>
    </div>
    <div id="block_infos" class="block">
        <h2>Informations importantes</h2>
        <div id="sub_block_infos">
            <div class="row">
                <div class="col-4">
                    <h3>Inscriptions</h3>
                    <div class="gp_infos">
                        <p>Du: <span class="highlight_infos">03/03/2022</span></p>
                        <p>Au: <span class="highlight_infos">04/06/2022</span></p>
                    </div>
                </div>
                <div class="col-4">
                    <h3>Événement</h3>
                    <div class="gp_infos">
                        <p>Du: <span class="highlight_infos">03/03/2022</span></p>
                        <p>Au: <span class="highlight_infos">04/06/2022</span></p>
                    </div>
                </div>
                <div class="col-4">
                    <h3>Lieu</h3>
                    <div class="gp_infos">
                        <p><span class="highlight_infos">Stade Jacques Andriès</span></p>
                        <p><span class="highlight_infos">RD 916, 59380 BERGUES</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div id="block_activities" class="block">
        <div id="block_activities_list">
            <h2>Liste des épreuves</h2>
            <div class="sub_block_activities_list">
                <h3>Les épreuves communes</h3>
                <div class="gp_activities row">
                    <div class="activity_frame col-3" >
                        <div class="activity_name"><p>Cross</p></div>
                        <div class="activity_image" style="background-image: url('https://images.pexels.com/photos/248547/pexels-photo-248547.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');">
                        </div>
                    </div>
                    <div class="activity_frame col-3" >
                        <div class="activity_name"><p>Cross</p></div>
                        <div class="activity_image" style="background-image: url('https://images.pexels.com/photos/248547/pexels-photo-248547.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');">
                        </div>
                    </div>
                    <div class="activity_frame col-3" >
                        <div class="activity_name"><p>Cross</p></div>
                        <div class="activity_image" style="background-image: url('https://images.pexels.com/photos/248547/pexels-photo-248547.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');">
                        </div>
                    </div>
                    <div class="activity_frame col-3" >
                        <div class="activity_name"><p>Cross</p></div>
                        <div class="activity_image" style="background-image: url('https://images.pexels.com/photos/248547/pexels-photo-248547.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');">
                        </div>
                    </div>
                </div>
                <h3>Une épreuve surprise</h3>
                <div class="activity_surprise">
                    <p>L'épreuve surprise s'inscrit dans l'esprit du challenge multisports</p>
                    <p>Elle aura lieu le dimanche.</p>
                    <p>Les capitaines devront désigner les participants de leur équipe à l'épreuve le samedi.</p>
                </div>                
            </div>
        </div>
        <div id="block_explanations">
            <h2>Déroulé des épreuves</h2>
            <div class="explanations">
                <p>La durée des épreuves est de 30 minutes à l'exception des épreuves communes à toutes les équipes engagées à savoir le cross, le relais, la course d'orientation et la gouttière infernale.</p>
                <p>Un barème de points est instauré :</p>
                <ul>
                    <li>5 points en cas de victoire</li>
                    <li>3 points en cas de nul</li>
                    <li>1 point en cas de défaite</li>
                </ul>
                <p>Le barème de points concernant les épreuves communes est spécifique à ces épreuves.</p>
            </div>  
        </div>
    </div>
</section>

<section id="registration">
    <div id="block_registration" class="block">
        <h2>Inscriptions ouvertes</h2>
        <ms-button class="btn-custom" value="Inscrire une équipe !" color="lightblue"></ms-button>
    </div>
</section>