@import 'colors';

p, li {
    color: $light;
    font-size: 0.8rem;
}

.block {
    background-color: $light-blue;
    padding : 20px;
    margin-bottom: 30px;
}

.block h2 {
    color: $teal;
    font-size: 1.5rem;
}

/*
 * Main infos
 */

#block_title {
    margin-bottom: 10px;
}

/* Title */

h1 {
    color: $light;
    font-size: 1.8rem;
}

/* Registration status infos */

.registration_status_info {
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.registration_status_info p {
    color: $light-blue;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0;
}

#nb_teams {
    background-color: $orange;
}

#registration_over {
    background-color: $teal;
}

/* Block infos */

#sub_block_registration_infos {
    background-color: $light;    
}

#sub_block_registration_infos {
    text-align: center;
    padding: 20px 0;
}

#sub_block_registration_infos h3 {
    color: $light-blue;
    font-size: 1.2rem;
}

#sub_block_registration_infos .gp_infos p {
    font-size: 0.8rem;
    color: $light-blue;
    margin: 0;
}

#sub_block_registration_infos .gp_infos .highlight_infos {
    color: $orange;
}

.before_registration {
    color: $orange;
}

.undergoing_registration {
    color: $teal;
}

/*
 * Content
 */

.sub_block_activities_list h3 {
    color: $orange;
    font-size: 1.2rem;
    margin: 10px 0 10px 10px;
}

.activities_details {
    color: $light;
    font-size: 0.8rem;
}

/*
 * Registration
 */

#block_registration {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#block_registration h2 {
    color: $orange;
}

#block_registration ms-button {
    margin: 10px;
}