<section id="event" *ngIf="event">
    <section id="main_infos" class="total-price" [ngClass]="{
        'before': eventRegistrationStatus === 1,
        'undergoing': eventRegistrationStatus === 2,
        'after': eventRegistrationStatus === 3}">
        <div id="block_title" class="row">
            <div id="main_title" class="col-8">
                <h1>{{ event.name }}</h1>
            </div>
            <div id="nb_teams" class="registration_status_info col-4" *ngIf="eventRegistrationStatus === 2">
                <p>{{ event.registrations?.length }}/{{ event.maxTeams }} équipes inscrites</p>
            </div>
            <div id="registration_over" class="registration_status_info col-4" *ngIf="eventRegistrationStatus === 3">
                <p>Inscriptions terminées</p>
            </div>
        </div>
        <div id="block_registration_infos" class="block">
            <h2>Informations importantes</h2>
            <div id="sub_block_registration_infos">
                <div class="row">
                    <div class="col-4">
                        <h3>Inscriptions</h3>
                        <div class="gp_infos">
                            <p>Du: <span class="highlight_infos">{{ event.startRegistration | date:'dd/MM/y' }}</span>
                            </p>
                            <p>Au: <span class="highlight_infos">{{ event.endRegistration | date:'dd/MM/y' }}</span></p>
                        </div>
                    </div>
                    <div class="col-4">
                        <h3>Événement</h3>
                        <div class="gp_infos">
                            <p>Du: <span class="highlight_infos">{{ event.startEvent | date:'dd/MM/y' }}</span></p>
                            <p>Au: <span class="highlight_infos">{{ event.endEvent | date:'dd/MM/y' }}</span></p>
                        </div>
                    </div>
                    <div class="col-4">
                        <h3>Lieu</h3>
                        <div class="gp_infos">
                            <p><span class="highlight_infos">{{ event.place.name }}</span></p>
                            <p><span class="highlight_infos">{{ event.place.address }}</span></p>
                            <p><span class="highlight_infos">{{ event.place.zipcode }} {{ event.place.city | uppercase
                                    }}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="content">
        <!-- <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-description-tab" data-bs-toggle="pill" data-bs-target="#pills-description" type="button" role="tab" aria-controls="pills-description" aria-selected="true">Présentation</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-epreuves-tab" data-bs-toggle="pill" data-bs-target="#pills-epreuves" type="button" role="tab" aria-controls="pills-epreuves" aria-selected="false">Épreuves</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-modalite-tab" data-bs-toggle="pill" data-bs-target="#pills-modalite" type="button" role="tab" aria-controls="pills-modalite" aria-selected="false">Modalités d'inscription</button>
        </li>
      </ul> -->
        <div id="block_activities" class="block tab-content">
            <!-- <div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
            <p>DESCIPTION</p> 
        </div>
        <div class="tab-pane fade" id="pills-epreuves" role="tabpanel" aria-labelledby="pills-epreuves-tab">
            <p>ÉPREUVE</p>
        </div>
        <div class="tab-pane fade" id="pills-modalites" role="tabpanel" aria-labelledby="pills-modalites-tab">   
            <p>MODALITÉS</p>      
        </div> -->

            <div id="block_description">
                <h2>Présentation</h2>
                <div class="description">
                    <p>{{ event.description }}</p>
                </div>
            </div>

            <!-- <div id="block_activities_list">
                <h2>Liste des épreuves</h2>
                <div class="sub_block_activities_list">
                    <h3>Les épreuves communes</h3>
                    <div class="gp_activities row">
                        <div class="activity_frame col-3">
                            <div class="activity_name">
                                <p>Cross</p>
                            </div>
                            <div class="activity_image"
                                style="background-image: url('https://images.pexels.com/photos/248547/pexels-photo-248547.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');">
                            </div>
                        </div>
                        <div class="activity_frame col-3">
                            <div class="activity_name">
                                <p>Cross</p>
                            </div>
                            <div class="activity_image"
                                style="background-image: url('https://images.pexels.com/photos/248547/pexels-photo-248547.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');">
                            </div>
                        </div>
                        <div class="activity_frame col-3">
                            <div class="activity_name">
                                <p>Cross</p>
                            </div>
                            <div class="activity_image"
                                style="background-image: url('https://images.pexels.com/photos/248547/pexels-photo-248547.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');">
                            </div>
                        </div>
                        <div class="activity_frame col-3">
                            <div class="activity_name">
                                <p>Cross</p>
                            </div>
                            <div class="activity_image"
                                style="background-image: url('https://images.pexels.com/photos/248547/pexels-photo-248547.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');">
                            </div>
                        </div>
                    </div>
                    <h3>Une épreuve surprise</h3>
                    <div class="activity_surprise">
                        <p>L'épreuve surprise s'inscrit dans l'esprit du challenge multisports</p>
                        <p>Elle aura lieu le dimanche.</p>
                        <p>Les capitaines devront désigner les participants de leur équipe à l'épreuve le samedi.</p>
                    </div>
                </div>
            </div> -->

            <app-event-activities></app-event-activities>

            <div id="block_activities_details" *ngIf="event.activitiesDetails">
                <h2>Déroulé des épreuves</h2>
                <div class="activities_details" [innerHTML]="event.activitiesDetails"></div>
            </div>
            <div id="block_registration_rules">
                <h2>Modalités d'inscription</h2>
                <div class="registration_rules">
                    <p>Coût de l'inscription: {{ event.price }}€</p>
                    <p>Nombre maximal d'équipes: {{ event.maxTeams }}</p>
                    <p>Âge minimum requis: {{ event.minAge }}</p>
                    <p>Nombre minimal d'équipiers: {{ event.minMembers }}</p>
                    <p>Nombre maximal d'équipiers: {{ event.maxMembers }}</p>
                </div>
            </div>
        </div>
    </section>

    <section id="registration">
        <div id="block_registration" class="block">
            <h2>Inscriptions ouvertes</h2>
            <ms-button class="btn-custom" value="Inscrire une équipe !" color="lightblue" *ngIf="currentCaptain"
                (click)="openRegistrationPanel()"></ms-button>
            <ms-button class="btn-custom" value="Identifiez-vous !" color="lightblue" *ngIf="currentCaptain===null">
            </ms-button>
            <div id="registration_pannel" *ngIf="displayRegistrationPannel">
                <h3>{{ event.name }}</h3>
                <div *ngFor="let teamInformations of availableTeams; let index = index" class="row">
                    <div class="col-4"><p>{{ teamInformations.team.name }}</p></div>
                    <div class="col-6 information"><p>{{ teamInformations.information }}</p></div>  
                    <div class="col-2 center">
                        <ms-button value="Inscrire" color="orange" (click)="registerTeam(index)" *ngIf="! teamInformations.registered && teamInformations.suitable && ! hasRecordedTeam"></ms-button>
                        <ms-button value="Désinscrire" color="orange" (click)="unregisterTeam(index)"  *ngIf="teamInformations.registered"></ms-button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>