@import 'colors';

img {
    width: 30px;
    margin: 5px;
    filter: brightness(400%);
}

div {
    text-align: center;
}

ul {
    display: inline-flex;
    justify-content: center;
    margin: 0px;
}

li {
    list-style: none;
}

li:hover {
    transform: scale(1.1);
}