<div>
    <ul>
        <li>
            <a href="https://facebook.com/multisportsacademie" target="blank">
                <img src="/assets/images/social/facebook-orange.svg" alt="">
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/multisports_academie/" target="blank">
                <img src="/assets/images/social/instagram-orange.svg" alt="">
            </a>
        </li>
        <li>
            <a href="https://twitter.com/Ms_academie" target="blank">
                <img src="/assets/images/social/twitter-orange.svg" alt="">
            </a>
        </li>
    </ul>
</div>


