@import 'colors';
@import 'font';

form {
    width: 100%;
}

.form-content {
    display: flex;
    flex-direction: column;
}

p {
    color: white;
    font-size: small;
    font-family: $arial;
}

label {
    font-family: $arial;
    font-weight: 400;
}

.error {
    color: red;
    margin: 0px;
}

.input-error {
    border-color: red;
}

.contract {
    width: 30px;
    margin-top: 3px;
}

input {
    width: 100%;
    color: white;
    background-color: #576471;
    border: 0px;
    border-bottom: 2px solid transparent;
    border-radius: 10px;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    color: white;
    background-color: #576471;
    border: 0px;
    border-bottom: 2px solid transparent;
    resize: none;
}

input:focus {
    outline: none;
    border: 0px;
    border-bottom: 2px solid #E09E50;
}

textarea:focus {
    outline: none;
    border: 0px;
    border-bottom: 2px solid #E09E50;
}

.end {
    margin-bottom: 5%;
}

div {
    margin: auto;
}