<section class="content">

    <img src="../../../../../assets/images/bergues.jpeg"
         alt="bergues">


    <section class="elem">
        <h2>Qui sommes nous ?</h2>
        <span class="presentation">
            <p>
                Multisports Académie est une association loi 1901 spécialisée dans l'organisation d'événements sportifs.
            </p>
            <p>
                Notre équipe multigénérationnelle est composée de bénévoles dynamiques pratiquant différentes activités
                sportives
                qu’elles soient individuelles ou collectives en compétition ou en loisirs.
            </p>
            <p>
                Si nous venons d’horizons sportifs distincts, un élément nous rassemble régulièrement :
                la pratique des challenges multisports.
            </p>
            <p>
                Notre volonté est de transmettre à un maximum de personnes notre passion pour le sport et les valeurs
                qu’il véhicule
            </p>
        </span>
    </section>

    <hr>

    <section class="elem">
        <h2>Nos valeurs</h2>
        <ms-values></ms-values>
    </section>

    <hr>

    <section class="elem">
        <h2>Les membres de l'association</h2>
        <ms-sport-pictures-direction></ms-sport-pictures-direction>
    </section>

    <hr>

    <section class="news">
        <app-article-thumbnail-list [articles]="articles">
        </app-article-thumbnail-list>
        <ms-button *ngIf="articles"
                   value="Accéder aux actualités"
                   (click)="goToArticles()">
        </ms-button>
    </section>

    <section class="gallery">
        <app-gallery [pictures]="pictures"></app-gallery>
    </section>

    <hr>

    <section class="elem"
             id="contact">
        <h2>Nous contacter</h2>
        <ms-contact-form></ms-contact-form>
    </section>

</section>
