@import 'colors';
@import 'font';

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-around;
    color: $text_light;
    margin-top: 30px;
}

.box {
    background-color: $mid-grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0 15px 0;
    margin-bottom: 20px;
}

.welcome {
    width: 75%;
    border-radius: 10px;
}

.who {
    width: 24%;
    display: flex;
    justify-content: space-around;
    padding: 2%;
    font-family: $arial;
}

.values {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    font-family: $arial;
}

.members {
    width: 59%;
    justify-content: space-between;
    display: flex;
    font-family: $arial;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-form {
    width: 60%;
    display: block;
}


.welcome-gif {
    width: 98%;
    border-radius: 10px;
}

//* news section
.news {
    display: flex;
    flex-flow: row wrap;

    ms-button {
        margin: 20px auto 0;
    }
}