<form [formGroup]="passForm">
    <section class="form-content-pass">
        <section class="form-content">
            <label for="password">mot de passe</label>
            <input type="password" name="password" class="pass" formControlName="password"
            [ngClass]="{ 'input-error': form.password.invalid && (form.password.dirty || form.password.touched) }">
            <p class="error" *ngIf="form.password.invalid && (form.password.dirty || form.password.touched)">
                L'ancien mot de passe ne peut pas être vide.
            </p>
        </section>
        <section class="form-content">
            <label for="newPassword">nouveau mot de passe</label>
            <input type="password" name="newPassword" class="pass" formControlName="newPassword"
            [ngClass]="{ 'input-error': form.newPassword.invalid && (form.newPassword.dirty || form.newPassword.touched) }">
            <p class="error" *ngIf="form.newPassword.invalid && (form.newPassword.dirty || form.newPassword.touched)">
                Le nouveau mot de passe doit contenir au moins 8 caractères
            </p>
        </section>
        <section class="form-content">
            <label for="newPasswordValidation">confirmer nouveau mot de passe</label>
            <input type="password" name="newPasswordValidation" class="pass" formControlName="newPasswordValidation">
        </section>
        <section class="form-content">
            <ngb-alert type="success" *ngIf="confirmPasswordUpdate" [dismissible]="false" class="alert">
                Mot de passe modifié avec succès !
            </ngb-alert>
            <ngb-alert type="danger" *ngIf="passwordUpdateError" [dismissible]="false" class="alert">
                La modification n'a pas été prise en compte, vérifiez les informations
            </ngb-alert>
            <ms-button 
                value="Confirmer nouveau mot de passe" 
                color="orange" (click)="updatePassword()"
                *ngIf="!confirmPasswordUpdate && !passwordUpdateError">
            </ms-button>
        </section>
    </section>
    
</form>
