<form [formGroup]="passForm">
    <section class="form-content-pass">
        <section class="form-content">
            <label for="password">mot de passe</label>
            <input type="password" name="password" class="pass" formControlName="password">
        </section>
        <section class="form-content">
            <label for="newPassword">nouveau mot de passe</label>
            <input type="password" name="newPassword" class="pass" formControlName="newPassword">
        </section>
        <section class="form-content">
            <label for="newPasswordValidation">confirmer nouveau mot de passe</label>
            <input type="password" name="newPasswordValidation" class="pass" formControlName="newPasswordValidation">
        </section>
        <section class="form-content">
            <ngb-alert type="success" *ngIf="confirmPasswordUpdate" [dismissible]="false" class="alert">
                Mot de passe modifié avec succès !
            </ngb-alert>
            <ms-button 
                value="Confirmer nouveau mot de passe" 
                color="orange" (click)="updatePassword()"
                *ngIf="!confirmPasswordUpdate">
            </ms-button>
        </section>
    </section>
    
</form>
