.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.elem {
    display: flex;
    width: 21%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1% 0 1%;
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
}

p {
    font-weight: 500;
}