// TODO: clean le fichier, ajouter les variables, réorganiser par elements + commentaires

.container {
    display: flex;
    padding: 0px;
}

.error {
    color: red;
    margin: 0px;
}

.elem {
    width: 50%;
}
 //* small screens
@media only screen and (max-width: 992px) {
    .side-img {
        display: none;
    }
    .side-form {
        width: 100%;
    }
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-content {
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

hr {
    margin: 20px auto;
    width: 80%;
}

p {
    font-size: small;
    color: white;
}

.side-img {
    margin: -20px 0 -20px -20px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

//Inputs
input {
    color: white;
    background-color: #576471;
    border: 0px;
    border-bottom: 2px solid transparent;
}

input:focus {
    outline: none;
    border: 0px;
    border-bottom: 2px solid #E09E50;
}