<section class="container">
    <section class="elem side-img">
        <img src="../../../../../assets/images/connexion.jpg" alt="connexion image">
    </section>
    <section class="elem side-form" (ngSubmit)="login()">
        <form [formGroup]="loginForm">
            <section class="form-content">
                <label for="email">email:</label>
                <input type="email" name="email" formControlName="email">
            </section>
            <section class="form-content">
                <label for="password">mot de passe:</label>
                <input type="password" name="password" formControlName="password">
            </section>
            <p class="error" *ngIf="isLoginError">Email ou mot de passe incorrect.</p>
            <section class="form-content">
                <ms-button value="Connexion" (click)="login()"></ms-button>
            </section>
            <hr class="no-margin">
            <p>Vous ne possédez pas encore de compte ?</p>
            <section class="form-content">
                <ms-button value="Créer un compte" color="orange" (click)="openRegister()"></ms-button>
            </section>
        </form>
        
    </section>
</section>
