<p>Bonjour {{firstname}},</p> 

<br>

<p>
    L'inscription de votre équipe "{{teamName}}" à l'évènement "{{eventName}}" 
    a été annulée pour l'une des raisons suivantes :
</p>
<ul>
    <li>Vous avez vous même annulé votre inscription</li>
    <li>Votre équipe ne respecte pas les conditions d'inscription</li>
    <li>Vous n'avez pas finalisé votre inscription</li>
</ul>

<br>

<p>
    Si vous souhaitez de nouveau vous inscrire à un évènement, pensez à vérifier votre boite mail. 
    En effet, nous vous enverrons les informations nécessaires à la finalisation de votre inscription.
</p>

<br>

<p>
    Si vous pensez que cette décision doit être analysée de nouveau, n'hésitez pas à utiliser le formulaire 
    de contact sur la page d'accueil du site "multisports-academie.fr". Nous vous aiderons à valider votre inscription.
</p>

<br>

<p>Nous vous souhaitons d'agréables événements sportifs,</p>
<p>Toute l'équipe Multisports Académie vous remercie.</p>

<img src="cid:logo">