<p>Bonjour {{firstname}},</p> 

<br>

<p>
    L'inscription de votre équipe "{{teamName}}" à l'évènement "{{eventName}}" 
    a été annulée pour l'une des raisons suivantes :
</p>
<ol>
    <li>Vous avez souhaité annuler votre inscription</li>
    <li>Vous n'avez pas finalisé votre inscription</li>
    <li>Votre équipe ne respecte pas les conditions d'inscription</li>
    <li>L'événement n'a pas pu être maintenu</li>
</ol>

<br>

<p>
    Si vous décidez de vous ré-inscrire à cet évènement, inscrivez de nouveau votre équipe sur le site
    "multisports-academie.fr" et pensez à vérifier votre boite mail ensuite. 
    En effet, nous vous enverrons les informations nécessaires à la finalisation de votre inscription.
</p>

<p>
    Si la décision d'annuler votre inscription a été prise par notre équipe d'organisation : n'hésitez pas 
    à utiliser le formulaire de contact sur la page d'accueil du site "multisports-academie.fr" pour en 
    connaitre les raisons. Nous pourrons vous aider à valider votre inscription.
</p>

<br>

<p>Nous vous souhaitons d'agréables événements sportifs,</p>
<p>Toute l'équipe Multisports Académie vous remercie.</p>

<img src="cid:logo">