<p>Bonjour {{firstname}},</p> 

<br>

<p>
    Vous avez inscrit votre équipe "{{teamName}}" à l'évènement "{{eventName}}".
</p>

<p>
    Afin que nous puissions valider et confirmer votre inscription, veuillez suivre les étapes suivantes :
</p>
<ol>
    <li>Imprimez ce mail qui permettra à notre équipe d'organisation de vous identifier</li>
    <li>
        Envoyez le mail imprimé ainsi que le chèque d'un montant de {{price}}€ à 
        l'ordre de "Multisports Académie" à l'adresse :
        <ul>
            <li>
                "110 Avenue du Pont Loby, 59640, DUNKERQUE"
            </li>
        </ul>
    </li>
</ol>

<p>
    Dès la réception de votre courrier, nous validerons votre inscription et vous recevrez un mail de confirmation.
</p>

<br>

<p>
    Pour information, votre chèque ne sera encaissé que 15 jours avant le début de l'évenement.
    En cas d'annulation de l'évènement, vous serez intégralement remboursé ou votre chèque vous sera
    restitué à l'adresse ci-dessous :
</p>
<p>
    Mon adresse : ..................................................................................................................................
</p>

<br>

<p>Pour des renseignements complémentaires, vous pouvez nous joindre :</p>
<ul>
    <li>par téléphone : 06 37 27 40 01</li>
    <li>par le formulaire de contact sur le site "multisports-academie.fr"</li>
</ul>

<p>Nous vous souhaitons d'agréables événements sportifs,</p>
<p>Toute l'équipe Multisports Académie vous remercie.</p>

<img src="cid:logo">