<p>Bonjour {{ firstname }},</p>

<p>Vous venez de créer un compte capitaine sur multisports-académie.fr</p>

<p>Vous avez désormais la possibilité de : </p>

<ul>
    <li>
        Créer des équipes dont vous serez le capitaine
    </li>
    <li>
        Modifier vos équipes
    </li>
    <li>
        Inscrire des équipes à des événements
    </li>
</ul>

<p>Nous vous souhaitons d'agréables événements sportifs,</p>
<p>Toute l'équipe Multisports Académie vous remercie.</p>

<img src="cid:logo">