@media only screen and (min-width: 992px) {
    footer {
        background-color: #576471;
        width: 100%;
        height: 200px;
        color: white;
        display: flex;
        justify-content: space-between;
    }
    
    div {
        width: 30%;
    }
    
    .left {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .center {
        width: 35%;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }
    
    .right {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    img {
        width: 50%;
    }
}

@media only screen and (max-width: 992px) {
    footer {
        position: absolute;
        bottom: 0px;
        margin-bottom: -300px;
        background-color: #576471;
        width: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .left {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .right {
        text-align: center;
    }
    
    .center {
        text-align: center;
        margin: 10px 0 10px 0;
    }
    
    img {
        width: 80%;
    }
}

p {
    margin: 0 0 10px 0;
}

a {
    color: white;
    margin: 0 0 10px 0;
}


