<footer>
    <div class="left">
        <span>
            Adresse email :
            <p>contact@multisports-academie.fr</p>
        </span>
        <span>
            Téléphone :
            <p>06 37 27 40 01</p>
        </span>
        <ms-social></ms-social>
    </div>
    <div class="center">
        <a routerLink="#">Mentions légales</a>
        <p>© Multisports Académie 2022 - Tous droits réservés</p>
    </div>
    <div class="right">
        <img src="../../assets/images/logos/logo-sans-fond-bords-blanc.svg" alt="">
    </div>
</footer>
