@import 'colors';

/* GLOBAL */
footer {
    background-color: $light-blue;
    width           : 100%;
    color           : $text-light;
    display         : flex;

    p {
        margin: 0 0 10px 0;
    }

    a {
        color : $text-light;
        margin: 0 0 10px 0;
    }
}

// large screens
@media only screen and (min-width: 992px) {
    footer {
        height          : 200px;
        justify-content : space-between;
    }

    div {
        width: 30%;
    }

    .left {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items: center;
    }

    .center {
        width          : 35%;
        display        : flex;
        flex-direction : column;
        justify-content: space-around;
        align-items    : center;
        text-align: center;
    }

    .right {
        display        : flex;
        align-items    : center;
        justify-content: center;
    }

    img {
        width: 50%;
    }
}

// small screens
@media only screen and (max-width: 992px) {
    footer {
        margin-bottom   : -300px;
        flex-direction  : column;
        align-items     : center;
    }

    .left {
        text-align     : center;
        display        : flex;
        flex-direction : column;
        justify-content: center;
    }

    .right {
        text-align: center;
    }

    .center {
        text-align: center;
        margin    : 10px 0 10px 0;
    }

    img {
        width: 80%;
    }
}

p {
    width: 100%;
}

span {
    width: 100%;
    text-align: center;
}