h2 {
    color: white;
    margin-bottom: 30px;
}

p {
    color: #E09E50;
}

hr.solid {
    border-top: 2px solid #ddd;
    width: 60%;
    margin-left: 10%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.team-header {
    background-color: #576471;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

.elem {
    width: 25%;
    text-align: center;
}

p {
    margin: 0px;
}