<ng-container *ngIf="captain">
    <h2>Bonjour {{captain.firstname}},</h2>

    <p>Modifier mes informations personnelles :</p>
    <app-update-personal-form [captain]="captain"></app-update-personal-form>

    <hr class="solid">

    <p>Changer mon mot de passe :</p>
    <app-update-password-form></app-update-password-form>

    <hr class="solid">

    <ng-container *ngIf="showTeams">
        <p>Mes équipes :</p>
        <ng-container *ngIf="teams">
            <header class="team-header">
                <section class="elem">
                    <p>Nom</p>
                </section>
                <section class="elem">
                    <p>Membres</p>
                </section>
                <section class="elem">
                    <p>Nombre de participations</p>
                </section>
                <section class="elem">
                </section>
            </header>
            <ng-container *ngFor="let team of teams">
                <ms-display-team [team]="team"></ms-display-team>
            </ng-container>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="!showTeams">
        <p>Mes équipes :</p>
        <section class="no-team">
            <p class="no-team">Vous ne possédez pas encore d'équipe...</p>
            <ms-button color="lightblue" value="Créer une équipe" (click)="goToTeamEdit()"></ms-button>
        </section>
    </ng-container>

    <hr class="solid">

    <p>Autres actions :</p>

    <section class="actions">
        <ms-button value="Déconnexion" color="#c0001a" (click)="logout()"></ms-button>
    </section>

</ng-container>