<!-- TODO: récupérer les variables de l'activité depuis le parent -->

<div class="card text-center card-has-bg">
  <img class="card-img d-none"
       alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
  <div class="card-img-overlay d-flex flex-column">
    <div class="card-body">
      <small class="card-meta mb-2">Nom de l'événement</small>
      <h5 class="card-title mt-0 ">Activité {{ num }}</h5>
      <small><i class="far fa-clock"></i> 15 mai 2022</small>
    </div>
    <ms-button value="En savoir plus"
               (click)="goToActivityDetailsPage()"></ms-button>
  </div>
</div>
