<div id="activity" *ngIf="activity">

  <section class="banner" style="background-image: url({{activity.mainPicture.url}});">
  </section>
  <h1 class="title">{{ activity.name }}</h1>
  
  <section>
    <h3 class="subtitle">Résumé des informations :</h3>
    <div class="row text-center">
      <div class="col-lg-6">
        <h5>Durée de l'épreuve :</h5>
        <p>{{ activity.duration }} minutes</p>
      </div>
      <div class="col-lg-6">
        <h5>Points :</h5>
        <p>{{ activity.points }}</p>
      </div>
    </div>
  </section>
  
  <ul class="tab-links">
    <li [ngClass]="{'active': show === 'description'}"
        (click)="show = 'description'">Description</li>
    <li [ngClass]="{'active': show === 'rules'}"
        (click)="show = 'rules'">Règles</li>
    <li [ngClass]="{'active': show === 'gallery'}"
        (click)="show = 'gallery'">Galerie photo</li>
  </ul>
  
  <section *ngIf="show === 'description'">
    <h3 class="subtitle">Description</h3>
    <p>{{ activity.description }}</p>
  </section>
  
  <section *ngIf="show === 'rules'">
    <h3 class="subtitle">Règles</h3>
    <p>{{ activity.rules }}</p>
  </section>
  
  <section *ngIf="show === 'gallery'">
    <h3 class="subtitle">Galerie photo</h3>
    <div class="galerie">
      <img *ngFor="let picture of activity.gallery"
           src="{{ picture.url }}"
           alt="{{ picture.altText }}"
           class="img-thumbnail">
    </div>
  </section>

</div>