form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-content {
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-contract {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
}

p {
    color: white;
    font-size: small;
}

hr.solid {
    border-top: 2px solid #bbb;
    width: 80%;
}

input {
    width: 190px;
}

select {
    width: 190px;
}

.contract {
    width: 30px;
    margin-top: 3px;
}

input {
    color: white;
    background-color: #576471;
    border: 0px;
    border-bottom: 2px solid transparent;
}

input:focus {
    outline: none;
    border: 0px;
    border-bottom: 2px solid #E09E50;
}

select {
    color: white;
    background-color: #576471;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}