<h2 class="admin-title">Activités</h2>

<section class="container block-section">
    
    <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap">
        <div id="filters" class="custom-hidden-md">
            <!-- Non utilisé pour le momment -->
        </div>
        <div id="buttons">
            <ms-button value="Ajouter une activité" (click)="goToAddActivity()"
               ></ms-button>
        </div>
    </div>
</section>

<section id="block-table" class="container block-section" *ngIf="activitiesEventsNb">

    <table>
        <thead>
            <tr> 
                <th class="custom-hidden-lg">#</th>               
                <th>Nom</th>
                <th class="custom-hidden-md">Description</th>
                <th class="custom-hidden-md">Règles</th>
                <th class="custom-hidden-xs">Durée (min)</th>
                <th class="custom-hidden-xs">Points</th>
                <th class="custom-hidden-md">Événements</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let activity of activities">
                <td class="custom-hidden-lg">{{activity._id}}</td>
                <td>{{activity.name}}</td>
                <td class="custom-hidden-md">
                    <div class="block-svg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25.67" height="19.633" viewBox="0 0 25.67 19.633" *ngIf="activity.description">
                            <g id="Ok" transform="translate(1.385 1.442)">
                                <path id="Tracé_226" data-name="Tracé 226" d="M9.5,9" transform="translate(7.385 9.192)" fill="none" stroke="#576471" stroke-width="4"/>
                                <path id="Tracé_225" data-name="Tracé 225" d="M905.5,305.525l7.562,7.26,1.5-1.443L928.4,298.059" transform="translate(-905.5 -298.059)" fill="none" stroke="#576471" stroke-width="4"/>
                            </g>
                        </svg> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="20.826" height="20.827" viewBox="0 0 20.826 20.827" *ngIf="! activity.description">
                            <g id="Nope" transform="translate(1.414 1.414)">
                                <line id="Ligne_30" data-name="Ligne 30" y2="25.452" transform="translate(0 0.001) rotate(-45)" fill="none" stroke="#576471" stroke-width="4"/>
                                <line id="Ligne_31" data-name="Ligne 31" x2="25.452" transform="translate(0 17.997) rotate(-45)" fill="none" stroke="#576471" stroke-width="4"/>
                            </g>
                        </svg>
                    </div>                   
                </td>
                <td class="custom-hidden-md">
                    <div class="block-svg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25.67" height="19.633" viewBox="0 0 25.67 19.633" *ngIf="activity.rules">
                            <g id="Ok" transform="translate(1.385 1.442)">
                                <path id="Tracé_226" data-name="Tracé 226" d="M9.5,9" transform="translate(7.385 9.192)" fill="none" stroke="#576471" stroke-width="4"/>
                                <path id="Tracé_225" data-name="Tracé 225" d="M905.5,305.525l7.562,7.26,1.5-1.443L928.4,298.059" transform="translate(-905.5 -298.059)" fill="none" stroke="#576471" stroke-width="4"/>
                            </g>
                        </svg> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="20.826" height="20.827" viewBox="0 0 20.826 20.827" *ngIf="! activity.rules">
                            <g id="Nope" transform="translate(1.414 1.414)">
                                <line id="Ligne_30" data-name="Ligne 30" y2="25.452" transform="translate(0 0.001) rotate(-45)" fill="none" stroke="#576471" stroke-width="4"/>
                                <line id="Ligne_31" data-name="Ligne 31" x2="25.452" transform="translate(0 17.997) rotate(-45)" fill="none" stroke="#576471" stroke-width="4"/>
                            </g>
                        </svg>
                    </div>                      
                </td>
                <td class="custom-hidden-xs">{{activity.duration}}</td>
                <td class="custom-hidden-xs">{{activity.points}}</td>
                <td class="custom-hidden-md">{{activitiesEventsNb[activity._id]}}</td>
                <td>
                    <p class="actions"><span (click)="goToEditActivity(activity._id)" class="link-text">Éditer</span> - <span (click)="openDelationModal(activity._id, activity.name)" class="link-text">Supprimer</span></p>
                </td>
            </tr>
        </tbody>
    </table>
</section>
