<h2 class="admin-title">Activités</h2>

<section class="container block-section">
    
    <div class="d-flex justify-content-between flex-wrap flex-sm-nowrap">
        <div id="filters">
            <div id="block-filters">
                <h3 id="filters-title">Filtres</h3>
                <div class="form-content row">
                    <label for="occurrence" class="filter-label col-4">occurence</label>
                    <div class="filter-field col-4">
                        <select name="occurrence_min" formControlName="occurrence_min">
                            <option value="null">-</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="filter-field col-4">
                        <select name="occurrence_max" formControlName="occurrence_max">
                            <option value="null">-</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>                    
                </div>
                <div class="form-content row">
                    <label for="duration" class="filter-label col-4">durée</label>
                    <div class="filter-field col-4">
                        <select name="duration_min" formControlName="duration_min">
                            <option value="null">-</option>
                            <option value="1">10</option>
                            <option value="2">20</option>
                            <option value="3">30</option>
                        </select>
                    </div>                    
                    <div class="filter-field col-4">
                        <select name="duration_max" formControlName="duration_max">
                            <option value="null">-</option>
                            <option value="1">10</option>
                            <option value="2">20</option>
                            <option value="3">30</option>
                        </select>
                    </div>
                    
                </div>

            </div>
        </div>
        <div id="buttons">
            <ms-button value="Ajouter une activité" (click)="goToAddActivity()"
               ></ms-button>
        </div>
    </div>
</section>

<section id="block-table" class="container block-section" *ngIf="activities">

    <table>
        <thead>
            <tr> 
                <th>#</th>               
                <th>Nom</th>
                <th>Description</th>
                <th>Règles</th>
                <th>Durée (min)</th>
                <th>Points</th>
                <th>Occurence</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let activity of activities">
                <td>{{activity._id}}</td>
                <td>{{activity.name}}</td>
                <td>
                    <div class="block-svg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25.67" height="19.633" viewBox="0 0 25.67 19.633" *ngIf="activity.description">
                            <g id="Ok" transform="translate(1.385 1.442)">
                                <path id="Tracé_226" data-name="Tracé 226" d="M9.5,9" transform="translate(7.385 9.192)" fill="none" stroke="#576471" stroke-width="4"/>
                                <path id="Tracé_225" data-name="Tracé 225" d="M905.5,305.525l7.562,7.26,1.5-1.443L928.4,298.059" transform="translate(-905.5 -298.059)" fill="none" stroke="#576471" stroke-width="4"/>
                            </g>
                        </svg> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="20.826" height="20.827" viewBox="0 0 20.826 20.827" *ngIf="! activity.description">
                            <g id="Nope" transform="translate(1.414 1.414)">
                                <line id="Ligne_30" data-name="Ligne 30" y2="25.452" transform="translate(0 0.001) rotate(-45)" fill="none" stroke="#576471" stroke-width="4"/>
                                <line id="Ligne_31" data-name="Ligne 31" x2="25.452" transform="translate(0 17.997) rotate(-45)" fill="none" stroke="#576471" stroke-width="4"/>
                            </g>
                        </svg>
                    </div>                   
                </td>
                <td>
                    <div class="block-svg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25.67" height="19.633" viewBox="0 0 25.67 19.633" *ngIf="activity.rules">
                            <g id="Ok" transform="translate(1.385 1.442)">
                                <path id="Tracé_226" data-name="Tracé 226" d="M9.5,9" transform="translate(7.385 9.192)" fill="none" stroke="#576471" stroke-width="4"/>
                                <path id="Tracé_225" data-name="Tracé 225" d="M905.5,305.525l7.562,7.26,1.5-1.443L928.4,298.059" transform="translate(-905.5 -298.059)" fill="none" stroke="#576471" stroke-width="4"/>
                            </g>
                        </svg> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="20.826" height="20.827" viewBox="0 0 20.826 20.827" *ngIf="! activity.rules">
                            <g id="Nope" transform="translate(1.414 1.414)">
                                <line id="Ligne_30" data-name="Ligne 30" y2="25.452" transform="translate(0 0.001) rotate(-45)" fill="none" stroke="#576471" stroke-width="4"/>
                                <line id="Ligne_31" data-name="Ligne 31" x2="25.452" transform="translate(0 17.997) rotate(-45)" fill="none" stroke="#576471" stroke-width="4"/>
                            </g>
                        </svg>
                    </div>                      
                </td>
                <td>{{activity.duration}}</td>
                <td>{{activity.points}}</td>
                <td>2</td>
                <td>
                    <a>Éditer</a> - <a>Supprimer</a>
                </td>
            </tr>
        </tbody>
    </table>
</section>
