<div class="row block-event" *ngIf="eventRegistrationStatus">
    <div class="block-image col-12 col-md-4" style="background-image: url('{{ event.mainPicture.url }}')">
    </div>
    <div class="block-infos col-12 col-md-8">
        <h2>{{ event.name }}</h2>
        <div class="block-text-dates">
            <p class="color-lightblue paragraph-title">Dates de l'événement :</p>
            <p>du <span class="color-orange">{{ event.startEvent | date:'dd/MM/y' }}</span> au <span class="color-orange">{{ event.endEvent | date:'dd/MM/y' }}</span></p>
            <p class="color-lightblue paragraph-title">Ouverture des inscriptions :</p>
            <p>du <span class="color-orange">{{ event.startRegistration | date:'dd/MM/y' }}</span> au <span class="color-orange">{{ event.endRegistration | date:'dd/MM/y' }}</span></p>
        </div>
        <div class="block-text-description">
            <p>{{ event.description }}</p>
        </div>
        <div class="block-buttons row">
            <div class="block-button col-6">
                <ms-button class="btn-custom" value="En savoir plus" width="100%" (click)="goToEvent()"></ms-button>
            </div>
            <div class="block-button col-6">
                <ms-button class="btn-custom" value="Inscrire une équipe !" color="orange" *ngIf="currentCaptain && eventRegistrationStatus === 2 && ! hasRecordedTeam" (click)="openRegistrationModal()"width="100%"></ms-button>
                <ms-button class="btn-custom" value="Changer d'équipe !" color="orange" *ngIf="currentCaptain && eventRegistrationStatus === 2 && hasRecordedTeam" (click)="openRegistrationModal()"width="100%"></ms-button>
                <ms-button class="btn-custom" value="S'inscrire" color="orange" *ngIf="currentCaptain===null"width="100%"></ms-button>  
            </div>
        </div>
    </div>
</div>